@using RZRV.Authorization
@using RZRV.Web.Areas.App.Models.Currencies
@using RZRV.Web.Areas.App.Startup
@model CurrenciesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Common.Currencies;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Currencies/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title="@L("Currencies")" description="@L("CurrenciesHeaderInfo")">
   <div class="kt-subheader kt-grid__item">
                  
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            @if (IsGranted(AppPermissions.Pages_Currencies_Create))
                            {
                                <a id="CreateNewCurrencyButton" href="\App\Currencies\CreateOrEdit" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewCurrency")</a>                
                            }
                        </div>
                    </div>
                  
                </div>
</abp-page-subheader>

       
<div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class=" @(await GetContainerClass())">
        <div class="card">
            <div class="card-body">
                <div class="form">
                    <div class="row mb-4">
                        <div class="col-12 text-end">
                             <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="CurrenciesTableFilter" class="form-control m-input" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetCurrenciesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                 <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilterId">@L("Name")</label>
									<input type="text" class="form-control reload-on-change" name="nameFilter" id="NameFilterId">
								</div>
                            </div>



                    <div class="col-md-12 mt-5">
                        <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                 <div class="row align-items-center">
                <table id="CurrenciesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            
                            <th>@L("Actions")</th>
								<th>@L("Name")</th>                            
                        </tr>
                    </thead>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>


            